@using ElProApp.Web.ViewModels.Employee;

@model EmployeeInputModel

<h2>Добавяне на служител</h2>

<form asp-action="Create" method="post">
    <div>
        <label for="FirstName">Име</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-primary"></span>
    </div>
    <div>
        <label for="LastName">Фамилия</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-primary"></span>
    </div>
    <div>
        <label for="Wages">Дневно възнаграждение</label>
        <input asp-for="Wages" class="form-control" />
        <span asp-validation-for="Wages" class="text-primary"></span>
    </div>
    <div>
        <label for="MoneyToTake">Останали пари за взимане</label>
        <input asp-for="MoneyToTake" class="form-control" />
        <span asp-validation-for="MoneyToTake" class="text-primary"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Добави служител</button>
</form>

<a asp-action="Index">Назад към списък служители</a>